<form class="ui form" (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="field">
    <label>SQL Query</label>
    <textarea name="query" id="query" rows="10" [(ngModel)]="query" #queryField="ngModel" required></textarea>
  </div>
  <div class="ui error message" [hidden]="queryField.valid || queryField.untouched">
    <p>Please enter a SQL query.</p>
  </div>

  <button class="ui submit button" type="submit">Submit</button>
</form>
