<div class="ui page container">
  <sv-form (postSubmit)="onSubmit($event)"></sv-form>

  <sv-mermaid *ngFor="let graph of graphs" [definition]="graph"></sv-mermaid>

  <div class="ui error message" *ngIf="error">{{error}}</div>
</div>
